.header{
    height: 80px;
    background-color: #1c2b3593;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 450px;
    padding-right: 100px;
}

.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 22px;
}
.header a:hover{
    color: rgb(255, 102, 0);
}